@import "./custom-variables.scss";

@import "aos/dist/aos.css";
@import "bootstrap/scss/bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";


@font-face {
    font-family: 'FontAwesome';
    src: url('font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// html {
//     font-size: 1vw;
// }

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/poppins/Poppins-Regular.woff") format("woff"),
        url("/fonts/poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/poppins/Poppins-Bold.woff") format("woff"),
        url("/fonts/poppins/Poppins-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/poppins/Poppins-Italic.woff") format("woff"),
        url("/fonts/poppins/Poppins-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "OpenSauce";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/open-sauce-sans/OpenSauceSans-Light.woff") format("woff"),
        url("/fonts/open-sauce-sans/OpenSauceSans-Light.ttf") format("ttf");
}

@font-face {


    font-family: "OpenSauce";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/open-sauce-sans/OpenSauceSans-SemiBold.woff") format("woff"),
        url("/fonts/open-sauce-sans/OpenSauceSans-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: "OpenSauce";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/open-sauce-sans/OpenSauceSans-Italic.woff") format("woff"),
        url("/fonts/open-sauce-sans/OpenSauceSans-Italic.ttf") format("ttf");
}

// body {
//     background-color: #edebed;
// }

.navbar {
    --bs-navbar-nav-link-padding-x: 12px;
    --bs-navbar-color: #000;
    --bs-navbar-hover-color: #000;
}

a:hover {
    color: var(--primary-hover-color);
}


@media (max-width: 1080px) {
    html {
        font-size: 11px;
    }
}

a {
    color: #000;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSauce", sans-serif;
}

/*---------- Typography ----------*/
.fs-1-header {
    font-size: 4rem;

    @media (max-width: 768px) {
        font-size: 35px;
    }
    @media (max-width: 475px) {
        font-size: 30px;
    }
}

.fs-2-header {
    font-size: 3rem;
    @media (max-width: 768px) {
        font-size: 25px;
    }
    @media (max-width: 475px) {
        font-size: 20px;
    }
}

#header {
    height: 100vh;

    @media (max-width: 1199px) {
        height: 90vh;
    }

    @media (max-width: 991px) {
        height: 70vh;
    }

    @media (max-width: 767px) {
        height: 70vh;
    }
    @media (max-width: 475px) {
        height: 60vh;
    }

    .header-image {
        height: 100%;
        width: auto;
        z-index: -1;
        @media (max-width: 575px) {
            right: -20%!important;
        }
        @media (max-width: 475px) {
            right: -35%!important;
        }
    }
}

#header-subpages {
    position: relative;

    .text-box {
        position: absolute;
        color: white;
        padding: 0 3rem;
    }

    @media (max-width: 1080px) {
        padding-top: 1.3rem;
    }

    @media (max-width: 768px) {
        padding-top: 1.3rem;

        .text-box {
            position: relative;
            color: black;
            padding: 3rem 0 0;
            text-align: center;
            align-items: center;
        }
    }

    @media (max-width: 358px) {
        padding-top: 4rem;
    }
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(12, 3, 51, 0.45),
            rgba(12, 3, 51, 0.5));
}

.empty-header {
    height: 150px;
}

/*---------- Background Video ----------*/
.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    position: absolute;
}

/*---------- Navigation Bar ----------*/
.navigation {
    width: 100%;
    z-index: 100;
    transition: all 0.5s;

    nav {
        width: 100%;
        display: flex;
        padding: 30px 0;
        justify-content: space-between;
        align-items: center;
        transition: padding 0.3s;

        //Burgermenu
        .navbar-toggler {
            border: 0;

            .burger-menu {}
        }
    }

    .nav-item .button-blue-transparent {
        color: var(--white-color);
    }
}

.navbar-brand img {
    width: auto;
    max-height: 70px;
    transition: 0.5s;
    max-width: 100%;

    &.logo-white {
        display: none;
    }

    &.logo-black {
        display: block;
    }
}

.navbar-dark {
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #fff;

    .navbar-brand img {
        &.logo-white {
            display: block;
        }

        &.logo-black {
            display: none;
        }
    }
}

// nav img{
//     /* width: 100px; */
// }

// .nav-links {
//     flex: 1;
//     text-align: right;
//     margin-right: 10px;
// }

.nav-item {
    list-style: none;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    padding: 8px 12px;
    position: relative;
    display: inline-flex;
    /* font-size: 13px; */
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        width: 0%;
        height: 2px;
        background: var(--primary-color);
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    &:hover::before {
        width: 100%;
    }
}


.navigation {
    background-color: var(--white-color);
    box-shadow: 0px 10px 10px 0px rgba(58, 63, 67, 0.12);

    nav {
        padding: 10px 0;
    }
}

.nav-link {
    color: black;
}

.navbar-brand img {
    max-height: 70px;

    &.logo-black {
        display: block;
    }
}


.navigation-open {
    .navbar {
        --bs-navbar-color: #000;
        --bs-navbar-hover-color: #000;
        --bs-navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
        --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    }
}

//BUTTON

.primary-button-style {
    padding: 14px 30px;
    background: var(--primary-color);
    color: var(--white-color);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        background: var(--primary-hover-color);
        color: var(--primary-hover-text-color);
    }
}

.primary-dark-button-style {
    padding: 14px 30px;
    background: var(--primary-dark-color);
    color: var(--white-color);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        background: var(--primary-dark-hover-color);
        color: var(--primary-dark-hover-text-color);
    }
}

.secondary-button-style {
    padding: 14px 30px;
    color: var(--white-color);
    //background: var(--white-color);
    border-radius: 6px;
    border: 2px solid var(--white-color);
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;
    position: relative;

    &:hover {
        background: rgba(255, 255, 255, .2);
        color: var(--white-color);
    }
}


/*---------- Button ----------*/

.button-blue-transparent {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    padding: 12px 30px;
    /* font-size: 13px; */
    background: var(--primary-color);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.button-blue-transparent:hover {
    border: 1px solid var(--white-color);
    background: transparent;

    &:after {
        content: none;
    }
}

.scrolled .button-blue-transparent:hover {
    border: 1px solid #000;
    color: #000;
}

// .button-blue-arrow {
//     border-radius: 1px;
//     background-color: var(--primary-color);
//     border: none;
//     color: var(--white-color);
//     text-align: center;
//     padding: 12px 34px;
//     width: 200px;
//     transition: all 0.5s;
//     cursor: pointer;
// }

// .button-blue-arrow span {
//     cursor: pointer;
//     display: inline-block;
//     position: relative;
//     transition: 0.5s;
// }

// .button-blue-arrow span:after {
//     content: "\00bb";
//     position: absolute;
//     opacity: 0;
//     top: 0;
//     right: -20px;
//     transition: 0.5s;
// }

// .button-blue-arrow:hover span {
//     padding-right: 25px;
// }

// .button-blue-arrow:hover span:after {
//     opacity: 1;
//     right: 0;
// }

.button-blue-white {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 12px 34px;
    /* font-size: 13px; */
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button-blue-white:hover {
    border: 1px solid var(--white-color);
    background: var(--white-color);
    transition: 0.5s;
    color: var(--primary-hover-text-color);
}

/*---------- About ----------*/

/* .about .hline{
    width: 120px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 16px auto 0 auto;
} */

.hline {
    width: 6.25rem;
    height: 2.5px;
    background-color: var(--primary-dark-hover-color);
    margin: 5px auto 0 0px;
}

.hline-white {
    width: 120px;
    height: 2px;
    background-color: var(--white-color);
    margin: 5px auto 0 0px;
}

/* .about{
    text-align: center;
} */

/*---------- Terminplannung & Statistik ----------*/

/* .container-1{
    width: 100%;
    padding: 50px 65px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.container-1 h2{
    line-height: 35px;
} */

/* .box-1{
    width: 40%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    vertical-align: middle 
} */

/*------------ Kundenmanagement --------------*/

.container-2 {
    width: 100%;
    padding: 50px 65px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.container-2 h2 {
    line-height: 35px;
}

.box-2 {
    width: 40%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    vertical-align: middle;
}

/*---------- Features ----------*/

.container-feature {
    width: 100%;
    padding: 0px 150px 50px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.feature {
    padding: 20px;
    border-radius: 5px;
}

.feature h3 {
    /* font-size: 13px; */
    text-align: center;
}

.feature p {
    /* font-size: 12px; */
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.marble-background {
    background: linear-gradient(0deg, transparentize($primary-color, 0.2), transparentize($primary-color, 0.2)), url("/images/marble_background.png");
    background-size: cover;
}

#feature {

    .icon {
        margin-bottom: 15px;

        i {
            font-size: 3.5rem;
            color: black;
        }
    }
}


.grid {
    display: grid;
    gap: 44px;
}

.four-col {
    grid-template-columns: repeat(4, 1fr);
}

/*---------- Google Icons ----------*/

.material-icons-round {
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

/*---------- Free Trail ----------*/

.bg-primary-color {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-dark-color {
    background-color: var(--primary-dark-color);
    color: var(--white-color);
}

.primary-dark-color {
    color: var(--primary-dark-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.bg-tertiary-color {
    background-color: var(--tertiary-color);
    color: var(--white-color);
}

.bg-tertiary-color-hover {
    transition: all .2s ease-in-out;
    &:hover {
        background-color: var(--tertiary-dark-hover);
    }
}




/* .container-4{
    background-color: var(--primary-color);
    width: 100%;
    height: 270px;
    padding: 30px 0px 30px;
    text-align: center;
 
}

.container-4 h1{
    color: var(--white-color);
}

.container-4 p{
    color: var(--white-color);
    line-height: 25px;
} */

/*---------- Pricing ----------*/

/* .container-3{
    width: 100%;
    padding: 50px 65px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.container-3 h2{
    line-height: 35px;
} */

.employee-input-container {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0;
    }

    input {
        border: 0;
        min-width: 50%;
        text-align: center;

        @media (max-width: 575px) {
            width: 100% !important;
        }
    }

    .range-wrap {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;

        #employee_value {
            font-size: 25px;
            font-weight: bold;
            margin-right: 7px;
            color: var(--primary-color);
        }
    }

}

input[type=range]::-webkit-slider-thumb {
    background: var(--primary-color);
}

input[type=range]::-moz-range-thumb {
    background: var(--primary-color);
}

input[type=range]::-ms-thumb {
    background: var(--primary-color);
}

.badge_custom {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: -10px;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.75);

    @media (max-width: 575px) {
        right: 0;
    }
}

.badge_custom_popular {
    background: var(--primary-hover-color);
    color: var(--primary-dark-color);
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
}

.base-price-per-month {
    &:after {
        content: '';
        background: red;
        position: absolute;
        left: 50%;
        width: 80%;
        top: 50%;
        height: 2px;
        transform: translate(-50%, -50%) rotate(-20deg);
    }
}

.pricing-plan {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    //overflow: hidden;
    font-family: sans-serif;
    line-height: 1.5;
    color: #555555;
    // margin: 15px;
    background-color: #efefef;
}

.pricing-plan:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.pricing-plan-header {
    padding: 35px 35px 10px;
    border-radius: 20px 20px 0 0;
}

.pricing-plan__titel {
    margin: 0;
    text-align: center;
    /* font-size: 1.5em; */
    font-weight: bold;
}

.pricing-plan__summary {
    margin: 0;
    text-align: center;
    /* font-size: 1em; */
    font-weight: 300;
}

.pricing-plan__description {
    padding: 25px;
}

.pricing-plan__description h3 {
    /* font-size: 30px; */
    margin: 10px 0 20px;
    font-weight: 500;
    text-align: center;
}

.pricing-plan__list {
    padding: 0;
    margin: 0;
}

.pricing-plan__feature {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    /* font-size: 0.9em; */
}

.pricing-plan__feature:not(:last-child) {
    margin-bottom: 0.5em;
}

.pricing-plan__feature::before {
    content: "\2714";
    color: var(--primary-color);
    left: 0;
    position: absolute;
}

// .pricing-plan__description a {
//     width: 100%;
//     padding: 14px 0;
//     background: var(--primary-color);
//     color: var(--white-color);
//     border: 1px solid var(--white-color);
//     border-radius: 6px;
//     margin-top: 30px;
//     cursor: pointer;
//     display: inline-block;
//     transition: all 0.5s;
//     &:hover {
//         background: var(--primary-hover-color);
//         color: var(--primary-color);
//     }
// }

// .pricing-plan__description a:hover {
//     background-color: var(--primary-color);
// }

/*---------- Footer ----------*/
.footer {
    background-color: #f2f2f2;
}

.footer form input {
    width: 400px;
    max-width: 100%;
    height: 45px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
    text-align: left;
    padding: 0 15px;
}


// .social-icons {
//     margin-top: 30px;
// }

.social-icons {
    a {
        display: inline-block;
    }

    i {
        font-size: 28px;
        margin: 10px;
        cursor: pointer;
    }
}

.cookieconsent {
    z-index: 100;

    &.cookieconsent__hide {
        display: none;
    }
}

//SWIPER

.testimonial-swiper {
    .testimonial {
        border-radius: 20px;
        width: 100%;
        padding: 20px 0 50px 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        // @media (max-width: 767px) {
        //     padding: 30px;
        // }

        // @media (max-width: 575px) {
        //     padding: 20px;
        // }

        .testimonial-content {
            display: flex;
            flex-direction: column;
            padding: 0 0;
            position: relative;

            img {
                @media (max-width: 991px) {
                    display:flex;
                    margin: 0 auto;;
                    width:60%;
                    margin-bottom: 15px;
                }
                @media (max-width: 768px) {
                    width:80%;
                }
                @media (max-width: 500px) {
                    width:100%;
                }
            }
        }
    }

    &.swiper-horizontal {
        .swiper-pagination {
            bottom: 15px;
            .swiper-pagination-bullet {
                height: 20px;
                width: 20px;
                background: transparent;
                border:2px solid $black;
                border-radius: 50%;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    background: rgba($black, .4);
                }
            }
        }
    }
}

.z-n1 {
    z-index: -1;
}

.arrow {
    position: absolute;
    right: calc(100% + 10px);
    bottom: 50%;
    width: auto;
    height: 200%;
}

.arrow-rotate-y {
    transform: rotateY(180deg);
}

.arrow-rotate-y-more {
    transform: rotateY(180deg) rotate(30deg);
    transform-origin: bottom;
}

.arrow-rotate-more {
    transform: rotate(30deg);
    transform-origin: bottom;
}

.round-background {
    position: absolute;
    width: 120%;
    height: 100%;
    bottom: 0;
    z-index: -1;
    border-radius: 100% 100% 0 0;
    left: 50%;
    transform: translateX(-50%);
}

.round-background-180 {
    transform: rotate(180deg) translateX(50%);
    transform-origin: center;
}

.no-header {
    padding-top: 125px;
}

.button-white {
    background-color: white;
    padding: 10px 30px;
    display: inline-block;
}

.background-calender {
    padding-top: 30%;
    padding-bottom: 10%;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 1200px) {
        padding: 30px 0;
    }
}

.background-element-position {
    left: 75%;
    top: 75%;

    @media (max-width: 767px) {
        width: 75%;
    }
}

.more-letter-spacing {
    letter-spacing: 5px;
}

.hover-color-black {
    transition: all .2s ease-in-out;
    &:hover {
        color: black;
    }
}

.hover-color-white {
    transition: all .2s ease-in-out;
    &:hover {
        color: $white-color;
    }
}


.hover-color-primary-dark {
    transition: all .2s ease-in-out;
    &:hover {
        color: $primary-dark-color;
    }
}

/*---------- Size ----------*/

.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
}

.min-vw-75 {
    min-width: 75vw;
}

.min-vh-75 {
    min-height: 75vh;
}

.min-w-100 {
    min-width: 100%;
}

.min-h-100 {
    min-height: 100%;
}

.justify-self-center {
    justify-self: center;
}

.justify-items-center {
    justify-items: center;
}

.navbar-nav .nav-link.dropdown-toggle {
    &:after {
        position: absolute;
        right: 0;
    }

    &:hover {
        cursor: pointer;

        &:after {
            width: 0%;
        }
    }
}

.dropdown-item:active {
    background-color: $primary-dark-color;
}

//SWITCH

.switch-container {
    .switch-field {
        input {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;

            &:checked+label {
                background-color: var(--primary-dark-color);
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $white-color;
            }
        }

        label {
            display: inline-block;
            width: 15%;
            background-color: $primary-color;
            color: black;
            // font-size: 14px;
            font-weight: normal;
            text-align: center;
            text-shadow: none;
            padding: 14px 30px;
            transition: all 0.1s ease-in-out;

            @media (max-width: 767px) {
                width:100%;
            }
    

            &:first-of-type {
                border-radius: 6px 0 0 6px;
            }

            &:last-of-type {
                border-radius: 0 6px 6px 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.fs-1-trial{
    font-size: 4rem !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
@include media-breakpoint-up(md) {
    .py-md-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}
@include media-breakpoint-up(lg) {
    .py-lg-6 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}

@include media-breakpoint-up(lg) {
    .py-lg-15 {
        padding-top: 15rem !important;
        padding-bottom: 15rem !important;
    }
}

.d-big-none {
    @media (min-width: 1920px) {
        display:none !important;
    }
}
.d-big-flex {
    @media (min-width: 1920px) {
        display:flex !important;
    }
}
.offset-big-0 {
    @media (min-width: 1920px) {
        margin-left: 0;
    }
}

//Media
.absolute-height {
    & > img {
        position: absolute;
        height: 100%;
        width:auto;
        @media (max-width: 991px) {
            height: auto !important;
            width: 65vw;
            position: inherit;
        }
    }
}

//Specialbox
.special-box {
    position: relative;
    padding: 3rem 2rem 3rem 7rem;
        @media (max-width: 1199px) {
            padding: 1rem 2rem 1rem 4.5rem;
        }
        @media (max-width: 1080px) {
            padding: 3rem 3rem 3rem 9rem;
        }
        @media (max-width: 768px) {
            padding: 3rem 2.5rem 3rem 9rem;
        }
        @media (max-width: 500px) {
            padding: 3rem 2.5rem 3rem 8rem;
        }
        @media (max-width: 414px) {
            padding: 3rem 2.5rem 3rem 7rem;
        }
        @media (max-width: 375px) {
            padding: 3rem 2.5rem 3rem 6rem;
        }
    &:after {
        content:'';
        background-image: url(../images/box-bg-primary.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width:100%;
        z-index: -1;
    }
}

.checklist-item {
    @extend .fs-5;
    position: relative;
    display: flex;
    margin-bottom: 10px;
    @media (max-width: 991px) {
        &:first-child {
            margin-top:30px;
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 5px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: '';
        background-image: url(../images/check-bullets.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        display: inline-flex;
        flex-shrink: 0;
        margin-right: 10px;
        @media (max-width: 768px) {
            height: 20px;
            width: 20px;
        }
    }
}