:root {
    --primary-color: #0b44c0;
}

html {
    font-size: 1vw;
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/poppins/Poppins-Regular.woff") format("woff"),
        url("/fonts/poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/poppins/Poppins-Bold.woff") format("woff"),
        url("/fonts/poppins/Poppins-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/poppins/Poppins-Italic.woff") format("woff"),
        url("/fonts/poppins/Poppins-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    src: url("/fonts/material-icons/MaterialSymbolsRounded.woff2")
            format("woff2"),
        url("/fonts/material-icons/MaterialSymbolsRounded.ttf") format("ttf");
}

.material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

@media (max-width: 1080px) {
    html {
        font-size: 11px;
    }
}

a {
    color: #000;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#header {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(
        rgba(12, 3, 51, 0.3),
        rgba(12, 3, 51, 0.3)
    );
}

/*---------- Background Video ----------*/
.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    position: absolute;
}

/*---------- Navigation Bar ----------*/
.navigation {
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
    nav {
        width: 100%;
        display: flex;
        padding: 30px 0;
        justify-content: space-between;
        align-items: center;
        transition: padding 0.3s;
    }
}

// nav img{
//     /* width: 100px; */
// }

.nav-links {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    position: relative;
    display: inline-block;
    /* font-size: 13px; */
    &:after {
        content: "";
        width: 0%;
        height: 2px;
        background: var(--primary-color);
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    &:hover::after {
        width: 100%;
    }
}

.scrolled {
    .navigation {
        background-color: white;
        box-shadow: 0px 10px 10px 0px rgba(58, 63, 67, 0.12);

        nav {
            padding: 10px 0;
        }
    }
    .nav-links a {
        color: black;
    }
}

/*---------- Headline Textbox ----------*/
.text-box {
    color: #fff;
    text-align: left;
}

.text-box h1 {
    /* font-size: 35px; */
    color: #fff;
    padding-bottom: 15px;
}

.text-box h2 {
    /* font-size: 25px; */
    color: #fff;
    padding-bottom: 30px;
}

.text-box p {
    margin: 10px 0 40px;
    /* font-size: 14px; */
    color: #fff;
}

/*---------- Button ----------*/

.button-blue-transparent {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 12px 30px;
    /* font-size: 13px; */
    background: var(--primary-color);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.button-blue-transparent:hover {
    border: 1px solid #fff;
    background: transparent;
}

.scrolled .button-blue-transparent:hover {
    border: 1px solid #000;
    color: #000;
}

.button-blue-arrow {
    border-radius: 1px;
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 12px 34px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.button-blue-arrow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-blue-arrow span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-blue-arrow:hover span {
    padding-right: 25px;
}

.button-blue-arrow:hover span:after {
    opacity: 1;
    right: 0;
}

.button-blue-white {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    /* font-size: 13px; */
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button-blue-white:hover {
    border: 1px solid #fff;
    background: #fff;
    transition: 0.5s;
    color: var(--primary-color);
}

/*---------- About ----------*/

/* .about .hline{
    width: 120px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 16px auto 0 auto;
} */

.hline {
    width: 120px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 5px auto 0 0px;
}

.hline-white {
    width: 120px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px auto 0 0px;
}

/* .about{
    text-align: center;
} */

/*---------- Terminplannung & Statistik ----------*/

/* .container-1{
    width: 100%;
    padding: 50px 65px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.container-1 h2{
    line-height: 35px;
} */

/* .box-1{
    width: 40%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    vertical-align: middle 
} */

/*------------ Kundenmanagement --------------*/

.container-2 {
    width: 100%;
    padding: 50px 65px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.container-2 h2 {
    line-height: 35px;
}

.box-2 {
    width: 40%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    vertical-align: middle;
}

/*---------- Features ----------*/

.container-feature {
    width: 100%;
    padding: 0px 150px 50px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.feature {
    padding: 20px;
    border-radius: 5px;
}

.feature h3 {
    /* font-size: 13px; */
    text-align: center;
}

.feature p {
    /* font-size: 12px; */
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.feature .icon {
    color: var(--primary-color);
    text-align: center;
    /* font-size: 100px; */
    padding-bottom: 15px;
}

.grid {
    display: grid;
    gap: 44px;
}

.four-col {
    grid-template-columns: repeat(4, 1fr);
}

/*---------- Google Icons ----------*/

.material-symbols-rounded {
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

/*---------- Free Trail ----------*/

.bg-primary-color {
    background-color: var(--primary-color);
    color: #ffffff;
}

/* .container-4{
    background-color: var(--primary-color);
    width: 100%;
    height: 270px;
    padding: 30px 0px 30px;
    text-align: center;
 
}

.container-4 h1{
    color: #fff;
}

.container-4 p{
    color: #fff;
    line-height: 25px;
} */

/*---------- Pricing ----------*/

/* .container-3{
    width: 100%;
    padding: 50px 65px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

.container-3 h2{
    line-height: 35px;
} */

.pricing-plan {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: sans-serif;
    line-height: 1.5;
    color: #555555;
    margin: 15px;
}

.pricing-plan:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.pricing-plan-header {
    padding: 25px;
    background: var(--primary-color);
    color: #fff;
}

.pricing-plan__titel {
    margin: 0;
    text-align: center;
    /* font-size: 1.5em; */
    font-weight: 400;
}

.pricing-plan__summary {
    margin: 0;
    text-align: center;
    /* font-size: 1em; */
    font-weight: 300;
}

.pricing-plan__description {
    padding: 25px;
}

.pricing-plan__description h3 {
    /* font-size: 30px; */
    margin: 10px 0 20px;
    font-weight: 500;
    text-align: center;
}

.pricing-plan__list {
    padding: 0;
    margin: 0;
}

.pricing-plan__feature {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    /* font-size: 0.9em; */
}

.pricing-plan__feature:not(:last-child) {
    margin-bottom: 0.5em;
}

.pricing-plan__feature::before {
    content: "\2714";
    color: var(--primary-color);
    left: 0;
    position: absolute;
}

.pricing-plan__description button {
    width: 100%;
    padding: 14px 0;
    background: var(--primary-color);
    color: #fff;
    /* font-size: 15px; */
    border: 1px solid #fff;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.pricing-plan__description button:hover {
    background-color: var(--primary-color);
}

/*---------- Footer ----------*/
.footer {
    background-color: #f2f2f2;
}

form input {
    width: 400px;
    max-width: 100%;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
}

form button {
    background: transparent;
    border: 2px solid #616161;
    color: #616161;
    padding: 10px 30px;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    /* font-size: 22px; */
    margin: 10px;
    cursor: pointer;
}
